* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

.visually-hidden,
input[type="checkbox"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
  width: 1280px;
  margin: 0 auto;
  background: #f2f2f2;
}

.inner-page {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
/* ==========================================================================
   HEADER
   ========================================================================== */

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  min-height: 56px;
}

.nav-link a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
}

.nav-link {
  box-sizing: border-box;
  width: 239px;
}

.navigation {
  position: relative;
}

.navigation-item-logo {
  position: absolute;
  z-index: 1;
  left: 532px;
  top: 2px;
}

.nav-link a {
  padding-left: 5px;
}

.nav-link:nth-child(4){
  margin-left: 240px;
}

/* ==========================================================================
   INTRO
   ========================================================================== */

.intro {
  position: relative;
  z-index: 0;
}

.img-welcome {
  position: absolute;
  top: 77px;
  left: 371px;
}

.img-shape {
  position: absolute;
  bottom: 7px;
  left: 0;
  z-index: 1;
}

/* ==========================================================================
   INTRO
   ========================================================================== */
.title h2 {
  padding-top: 37px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.title p {
  padding-bottom: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.advantage,
.pluses,
.reasons {
  display: flex;
}

.pluses {
  background: #EEEEEE;
}

.info-reasons {
  height: 330px;
}

/* ==========================================================================
   INFO
   ========================================================================== */
.info {
  padding: 50px;
  box-sizing: border-box;
  width: 400px;
  height: 256px;
}

.info h3 {
  margin: 0 auto;
  width: 153px;
font-weight: bold;
font-size: 21px;
line-height: 21px;
text-align: center;
}

.info p {
  padding-top: 24px;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
}

.info-advantage {
  background: #81B3D2;
  color: #FFFFFF;
}

.info-reasons {
  width: 399px;
  position: relative;
}

.img-reasons{
  position: absolute;
  left: 30px;
}
.info-reasons h3 {
  margin-top: 120px;
}

.interested h2{
  margin: 0 auto;
  padding-top: 58px;
font-weight: bold;
font-size: 30px;
line-height: 24px;
text-align: center;
}

.interested p {
  margin: 0 auto;
  padding: 50px 0;
  width: 435px;
  font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
}

.interested-btn {
  margin: 0 316px;
  width: 568px;
height: 86px;
background: #766357;
color: #FFFFFF;
text-align: center;
font-weight: bold;
font-size: 21px;
line-height: 26px;
border: none;
font-family: 'PT Sans', sans-serif;
text-transform: uppercase;
}

/* ==========================================================================
   Footer
   ========================================================================== */
   .footer {
    width: 1200px;
    min-height: 130px;
    padding: 0 100px 0 132px;
    box-sizing: border-box;
    background-color: #ffffff;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-index {
    position: absolute;
    bottom: 0;
  }
  
   .footer h3 {
    width: 180px;
  }
  
  .friends ul {
    list-style: none;
    display: flex;
  }
  
  .social-button {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #82b3d3;	
  }
  
  .social-button:hover {
    background-color: #669ebf;
  }
  
  .social-button:active {
    filter: brightness(90%);
  }
  
  .copyright {
    width: 210px;
    display: flex;
    justify-content: space-between;	
  }
  
  .copyright p {
    padding-top: 5px;	
  }
  
  .copyright a {
    display: block;	
  }
  
  .copyright img {
    vertical-align: middle;	
  }